.container {
  @extend %col;
  margin: 0 auto;
  max-width: 100%;

  @include media("min", 576px) {
    max-width: 540px;
  }

  @include media("min", 768px) {
    max-width: 720px;
  }

  @include media("min", 992px) {
    max-width: 960px;
  }

  @include media("min", 1200px) {
    max-width: 1140px;
  }

  @include media("min", 1400px) {
    max-width: 1320px;
  }

  &-fluid {
    @extend %col;
    max-width: 100%;
  }
}
